@{
	ViewData["Title"] = "Start";
}

<br />
<br />
<div class="card text-bg-info mb-3" >
	<div class="card-header">
		<h4 class="card-title">Welcome to suspension manager!</h4>
	</div>
	<div class="card-body">
		<br />
		<h5 class="card-title">The web app that lets you organize your suspension settings from everywhere!</h5>
		<br />
		<br />
		<br />	
		<br />
		<div class="card border-info mb-3" style="max-width: 35rem;">
			<div class="card-header">
				Getting started
			</div>
			<div class="card-body">
				<h5 class="card-title">Please log into your account or register to get started</h5>
				<br />
				<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">
					Login
				</a>
				<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">
					Register
				</a>
			</div>
		</div>
		
	</div>
</div>

